.customCard{
    height: fit-content !important;
}
.mission-vision{
    border: 0.5px solid  #7B1FFE;
    width: fit-content;
    border-radius: 12px;
    padding: 8px;
}
.mission-vision img{
    max-width: 40px !important;
}
.certified-group:hover{
    border: 0.5px solid  #7B1FFE;

}

.text-violet{
    color: #7B1FFE;
}